<h2>회원정보변경</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :autocomplete => "off", :hint => "", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "비밀번호를 변경하려면 기존 비밀번호를 입력하셔야 합니다.", :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "수정" %>
  </div>
<% end %>

<%= link_to "돌아가기", :back %>
