<h1>Weekreport</h1>

<p>
  <b>Team</b><br>
  <%= @weekreport.team_id %>
</p>

<p>
  <b>Start</b><br>
  <%= @weekreport.start %>
</p>

<p>
  <b>End</b><br>
  <%= @weekreport.end %>
</p>

<p>
  <b>Participants</b><br>
  <%= @weekreport.participants %>
</p>

<p>
  <b>Location</b><br>
  <%= @weekreport.location %>
</p>

<p>
  <b>Goal</b><br>
  <%= @weekreport.goal %>
</p>

<p>
  <b>Contents</b><br>
  <%= @weekreport.contents %>
</p>

<p>
  <b>Result</b><br>
  <%= @weekreport.result %>
</p>

<% @team = @weekreport.team %>
<% if (@team.member?(current_user) or @team.mentor?(current_user) or current_user.head_approved?)%>
	<%= link_to "PDF로 출력하기", weekreport_path( format: "pdf"), :class => 'btn btn-primary' %>
<% end %>




<div class="form-actions">
  <%= link_to 'Back', weekreports_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_weekreport_path(@weekreport), :class => 'btn' %>
  <%= link_to 'Delete', weekreport_path(@weekreport), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
