<%= simple_form_for @entry, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>새로운 지출 내역</legend>
		<% if current_user.mentor_approved? %>
			<div>기관명: <%= current_user.organization.name %></div>
		<% else %>
			<div>팀명: <%= current_user.team.name %></div>
		<% end %>
		<div>성명: <%= current_user.korean_full_name %></div>
		<%= f.hidden_field :user_id%>
		<%= f.hidden_field :team_id %>

    <%= f.input :item_id, :collection => Category.where(:id => 1), :as => :grouped_select, :group_method => :items %>
    <%= f.input :invoice_datetime, :as => :date %>
    <%= f.input :amount %>
    <%= f.input :vendor %>
    <%= f.input :payment_method, :collection => ["체크카드", "현금결제", "계좌이체"]  %>
		<%= f.input :summary %>
		
		<%= f.submit %>
    
  </fieldset>
<% end %>
