<p id="notice"><%= notice %></p>

<p>
  <b>Entry:</b>
  <%= @photo.entry_id %>
</p>

<p>
  <b>비고:</b>
  <%= @photo.note %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
