<h1>Listing expenses</h1>

<table>
  <tr>
    <th>Travel expense report</th>
    <th>Classification</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Pay method</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.bunsiness_trip_report_id %></td>
    <td><%= expense.classification %></td>
    <td><%= expense.date %></td>
    <td><%= expense.amount %></td>
    <td><%= expense.pay_method_id %></td>
    <td><%= expense.note %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense', new_expense_path %>
